<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>TuncForWork</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>tuncforwork</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.googleusercontent.apps.478614026227-smlink6n5ml74fia9lqrh0js3p7k7mls</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.478614026227-smlink6n5ml74fia9lqrh0js3p7k7mls</string>
            </array>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppleMusicUsageDescription</key>
    <string>This application may require access to Apple Music to use music features.</string>
    <key>NSCameraUsageDescription</key>
    <string>This application requires camera access to take profile photos and share content.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This application requires microphone access for voice messages and video recordings.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This application requires access to the photo library to allow you to select and share photos.</string>
    <key>NSUserNotificationUsageDescription</key>
    <string>This application wants to send notifications to provide you with important updates and information.</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
        <string>processing</string>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER).refresh</string>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER).processing</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    <key>NSRemoteNotificationUsageDescription</key>
    <string>We need to send you notifications to keep you updated with matches and messages.</string>
    <!-- Developer Option -->
    <key>aps-environment</key>
    <string>development</string>
</dict>
</plist>